@import url(./reset.css);

/*body 공통 설정*/
body {
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", "Pretendard Variable", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #121212;
  word-break: keep-all;
  /*스크롤 기능은 남기고 스크롤바만 숨기기*/
  -ms-overflow-style: none;
}

/*스크롤 기능은 남기고 스크롤바만 숨기기*/
::-webkit-scrollbar {
  display: none;
}

/*컨텐츠 영역*/
.con {
  width: 1840px;
  height: fit-content;
  margin: 0 auto;
}

/*섹션 공통 설정*/
section {
  width: 100%;
  height: fit-content;
}

/*헤더*/
header {
  width: 1840px;
  height: fit-content;
  display: flex;
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

/*메뉴 버튼*/
header button {
  width: fit-content;
  height: fit-content;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  cursor: pointer;
  margin-right: auto;
}

/*언어 선택*/
header .lan {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 10px;
  margin-right: 250px;
  font-size: 16px;
  line-height: 18px;
}

header .lan > li {
  cursor: pointer;
}

header .lan .english {
  color: #acacac;
}

/*로고*/
h1 {
  width: 130px;
  height: fit-content;
  position: absolute;
  top: 0;
  right: 0;
}

h1 > img {
  width: 100%;
}

/*메인*/
main {
  width: 100%;
  height: fit-content;
}

/*메인 비주얼*/
.main_visual {
  width: 100%;
  height: 100vh;
}

.main_visual .con {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*저작권 표시*/
.main_visual .copy {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  padding-top: 25px;
  font-size: 16px;
  line-height: 18px;
}

/*비주얼 이미지*/
.main_visual .visual_img {
  width: 440px;
  height: fit-content;
  position: absolute;
  top: 28vh;
  left: calc(50% - 25vh);
  z-index: -1;
}

.main_visual .visual_img > img {
  width: 100%;
  object-fit: cover;
}

/*두번째 이미지 숨기기*/
.main_visual .visual_img > img:last-child {
  opacity: 0;
}

/*메인 비주얼 아래 부분*/
.main_visual .bottom {
  width: 100%;
  padding-bottom: 25px;
  margin-top: auto;
}

.main_visual .bottom .top_line {
  line-height: 22px;
  border-bottom: 1px solid #121212;
  padding-bottom: 12px;
}

.main_visual .bottom .bottom_line {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding-top: 12px;
  position: relative;
}

.main_visual .bottom .bottom_line .center {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}

/*두번째 섹션*/
.sec2 {
  margin-top: 300px;
  height: 100vh;
  padding: 15vh 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.sec2 h2 {
  font-size: 3vw;
  width: fit-content;
  margin: 0 auto;
}

.sec2 p {
  width: fit-content;
  margin: 0 auto;
  margin-top: auto;
}

/*세번째 섹션*/
.sec3 .card {
  width: 100%;
  height: 68vh;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  border-top: 1px solid #121212;
}

/*왼쪽*/
.sec3 .card .left {
  width: 20%;
}

.sec3 .card .left h3 {
  font-size: 16px;
  line-height: 24px;
}

.sec3 .card .left p {
  font-size: 13px;
  line-height: 16px;
}

/*오른쪽*/
.sec3 .card .right {
  flex: 1 1;
}

.sec3 .card .right h2 {
  font-size: 3vw;
  line-height: 3vw;
}

.sec3 .card .right p {
  margin-top: 40px;
  width: 50%;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.sec3 .card .right a {
  display: block;
  width: fit-content;
  margin-top: 40px;
  padding: 11px 80px 11px 20px;
  border: 1px solid #121212;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 21px;
  background: url(../img/sec3/ic_arrow_right.svg) no-repeat;
  background-position: right 20px top 13px;
}

/*호버하면*/
.sec3 .card .right a:hover {
  animation: moveleft 0.3s linear alternate;
}

/*애니메이션*/
@keyframes moveleft {
  0% {
    background-position: right 20px top 13px;
  }
  50% {
    background-position: right 30px top 13px;
  }
  100% {
    background-position: right 20px top 13px;
  }
}

/*이미지 영역*/
.sec3 .card .img_area {
  width: 27%;
  height: 100%;
  overflow: hidden;
}

.sec3 .card .img_area > img {
  width: 100%;
  object-fit: cover;
}

/*네번째 섹션*/
.sec4 h3 {
  font-size: 16px;
  line-height: 24px;
}

.sec4 p {
  line-height: 27px;
  margin-top: 10px;
}

/*박스 영역*/
.sec4 .box_wrap {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}

.sec4 .box_wrap a {
  flex: 1 1;
  overflow: hidden;
  background-color: #2541e0;
  color: #fff;
  padding: 20px 30px;
  height: 55vh;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.sec4 .box_wrap a:last-child {
  background-color: #0976f2;
}

.sec4 .box_wrap a h2 {
  font-size: 2vw;
  line-height: 3vw;
  position: relative;
  z-index: 1;
}

.sec4 .box_wrap a p {
  line-height: 27px;
  font-weight: 400;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.sec4 .box_wrap a .more_info {
  display: block;
  color: #fff;
  margin-top: auto;
  border-top: 1px solid #fff;
  font-weight: 400;
  padding: 15px 0 5px;
  display: flex;
  gap: 12px;
  position: relative;
  z-index: 1;
}

/*오른쪽 화살표*/
.sec4 .box_wrap a .more_info img {
  filter: invert(1);
}

/*호버하면*/
.sec4 .box_wrap a:hover .more_info img {
  animation: moveright 0.4s alternate;
}

/*애니메이션*/
@keyframes moveright {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/*박스 배경 이미지*/
.sec4 .box_wrap a > img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  filter: brightness(0.3);
}

/*호버하면*/
.sec4 .box_wrap a:hover > img {
  opacity: 1;
}
