@import url(./reset.css);

/*body 공통 설정*/
body {
  width: 100%;
  height: fit-content;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", "Pretendard Variable", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #121212;
  word-break: keep-all;
  /*스크롤 기능은 남기고 스크롤바만 숨기기*/
  -ms-overflow-style: none;
  scroll-behavior: auto;
}

/*스크롤 기능은 남기고 스크롤바만 숨기기*/
::-webkit-scrollbar {
  display: none;
}

/*섹션 공통 설정*/
section {
  width: 100%;
  height: fit-content;
  padding: 0 40px;
  box-sizing: border-box;
}

/*헤더*/
header {
  width: 100%;
  height: fit-content;
  padding: 0 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: fixed;
  top: 25px;
  left: 0;
  z-index: 99;
}

/*메뉴 버튼*/
header > button {
  width: fit-content;
  height: fit-content;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  cursor: pointer;
  margin-right: auto;
  position: relative;
  z-index: 2;
  opacity: 0;
  color: #121212;
}

header > button > div {
  background-color: #121212;
  position: absolute;
  transform: scale(0);
  transform-origin: top left;
  transition: 0.4s;
}

header > button .line1 {
  width: 73px;
  height: 1px;
  top: -5px;
  left: -10px;
}

header > button .line2 {
  width: 1px;
  height: 41px;
  left: -5px;
  bottom: -10px;
}

header > button .line3 {
  width: 73px;
  height: 1px;
  left: -10px;
  bottom: -5px;
}

header > button .line4 {
  width: 1px;
  height: 41px;
  top: -10px;
  right: -5px;
}

/*호버하면*/
header > button:hover > div {
  transform: scale(1);
}

/*메뉴 클릭하면 나타날 전체 메뉴 배경*/
.menu_bg {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu_bg > div {
  flex: 1 1;
  width: 100%;
  height: 100%;
  background-color: #09284f;
  transform: scaleY(0);
  transform-origin: top;
}

.menu_bg > div:nth-child(2n) {
  transform-origin: bottom;
}

/*메뉴 클릭하면 나타날 전체 메뉴*/
.all_menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  cursor: default;
  color: #fff;
  display: none;
}

/*윗부분*/
.all_menu .top {
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  position: relative;
  top: 25px;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
}

.all_menu .top button {
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  line-height: 1;
  position: absolute;
  top: 2px;
  left: calc(6vw + 68px);
  letter-spacing: 0;
}

/*로고*/
.all_menu .top h2 {
  height: 17px;
  position: absolute;
  top: 2px;
  right: 40px;
  cursor: pointer;
}

.all_menu .top h2 > img {
  height: 100%;
}

/*메뉴*/
#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 22vh 40px 0;
  box-sizing: border-box;
  opacity: 0;
}

#menu li {
  width: 100%;
  display: flex;
  color: #fff;
  gap: 6vw;
  margin-bottom: 6vh;
  letter-spacing: 0;
  cursor: pointer;
}

#menu h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin-top: 0.3vw;
}

#menu a {
  color: #fff;
  font-size: 3.6vw;
  line-height: 3.5vw;
  font-weight: 500;
  position: relative;
}

/*서브메뉴*/
#menu .submenu {
  display: flex;
  gap: 3vw;
}

#menu .submenu a {
  height: fit-content;
  font-size: 1.6vw;
  line-height: 1.7vw;
  position: relative;
}

/*메뉴에 호버하면 나타날 밑줄*/
#menu a::after {
  content: "";
  display: block;
  background-color: #fff;
  height: 1px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -0.5vw;
  transition: 0.3s;
}

#menu .submenu a::after {
  bottom: -0.4vw;
}

/*호버하면*/
#menu a:hover::after {
  width: 100%;
}

/*아랫 부분*/
.all_menu .bottom {
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: 25px;
  left: 0;
  padding: 0 40px;
  box-sizing: border-box;
  display: flex;
  gap: 30px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0;
  opacity: 0;
}

.all_menu .bottom > a {
  color: #fff;
}

.all_menu .bottom > p {
  margin-left: auto;
}

/*언어 선택*/
header > .lan {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 10px;
  margin-right: 250px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0;
  color: #121212;
  position: relative;
  z-index: 2;
}

header > .lan > li {
  cursor: pointer;
}

header > .lan .english {
  color: #acacac;
}

/*로고*/
h1 {
  width: 1840px;
  height: fit-content;
  position: absolute;
  top: 9vh;
  right: 50%;
  transform: translate(50%, -38px) scale(0.2, 0.2);
  opacity: 0;
  z-index: 1;
}

h1 > img {
  width: 100%;
}

/*메인*/
main {
  width: 100%;
  height: fit-content;
}

/*메인 비주얼*/
.main_visual {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*저작권 표시*/
.main_visual .copy {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  padding-top: 25px;
  font-size: 16px;
  line-height: 18px;
  opacity: 0;
}

/*비주얼 이미지*/
.visual_img {
  width: 50vh;
  height: 50vh;
  position: absolute;
  top: 28vh;
  left: 50%;
  z-index: -1;
  opacity: 0;
  transform-origin: bottom center;
  transform: translateX(-50%) scale(0.4, 0);
  overflow: hidden;
}

.visual_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*두번째 이미지 숨기기*/
.visual_img > img:last-of-type {
  width: 1395px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*인트로 화면에서 쓸 검정 박스*/
.visual_img .black {
  width: 100%;
  height: 100%;
  background-color: #121212;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: bottom;
}

/*메인 비주얼 아래 부분*/
.main_visual .bottom {
  width: 100%;
  padding-bottom: 25px;
  margin-top: auto;
}

.main_visual .bottom .top_line {
  line-height: 22px;
  padding-bottom: 12px;
  opacity: 0;
}

.main_visual .bottom .bottom_line {
  border-top: 1px solid #121212;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding-top: 12px;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
}

.main_visual .bottom .bottom_line * {
  opacity: 0;
}

.main_visual .bottom .bottom_line .center {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}

/*두번째 섹션*/
.sec2 {
  margin-top: 300px;
  height: 100vh;
  padding: 15vh 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.sec2 h2 {
  font-size: 3vw;
  line-height: 68px;
  width: fit-content;
  margin: 0 auto;
  letter-spacing: 0.03em;
}

.sec2 p {
  width: fit-content;
  margin: 0 auto;
  margin-top: auto;
  font-weight: 400;
}

/*모바일에서만 나타날 br 태그 숨겨주기*/
.sec2 p br {
  display: none;
}

/*세번째 섹션*/
.sec3 {
  padding: 0;
}

.sec3_inner {
  width: 100%;
  height: fit-content;
}

.sec3 .card {
  height: 68vh;
  padding: 40px;
  display: flex;
  border-top: 1px solid #121212;
  overflow: hidden;
}

/*왼쪽*/
.sec3 .card .left {
  width: 20%;
}

.sec3 .card .left h3 {
  font-size: 16px;
  line-height: 24px;
}

.sec3 .card .left p {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

/*오른쪽*/
.sec3 .card .right {
  flex: 1 1;
  height: fit-content;
}

.sec3 .card .right h2 {
  font-size: 3vw;
  line-height: 3vw;
}

.sec3 .card .right p {
  margin-top: 40px;
  width: 50%;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

.sec3 .card .right a {
  display: block;
  width: fit-content;
  margin-top: 40px;
  padding: 11px 80px 11px 20px;
  border: 1px solid #121212;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 21px;
  background: url(../img/sec3/ic_arrow_right.svg) no-repeat;
  background-position: right 20px top 13px;
}

/*호버하면*/
.sec3 .card .right a:hover {
  animation: moveleft 0.3s linear alternate;
}

/*애니메이션*/
@keyframes moveleft {
  0% {
    background-position: right 20px top 13px;
  }
  50% {
    background-position: right 30px top 13px;
  }
  100% {
    background-position: right 20px top 13px;
  }
}

/*이미지 영역*/
.sec3 .card .img_area {
  width: 27%;
  height: 100%;
  overflow: hidden;
}

.sec3 .card .img_area > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*네번째 섹션*/
.sec4 {
  padding-bottom: 100px;
  box-sizing: border-box;
}

.sec4 h3 {
  font-size: 16px;
  line-height: 24px;
}

.sec4 p {
  line-height: 27px;
  margin-top: 10px;
  font-weight: 400;
}

/*박스 영역*/
.sec4 .box_wrap {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}

.sec4 .box_wrap a {
  flex: 1 1;
  overflow: hidden;
  background-color: #2541e0;
  color: #fff;
  padding: 20px 30px;
  box-sizing: border-box;
  height: 55vh;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  transform-origin: left;
  transform: scaleX(0);
}

.sec4 .box_wrap a * {
  opacity: 0;
}

.sec4 .box_wrap a:last-child {
  background-color: #0976f2;
}

.sec4 .box_wrap a h2 {
  font-size: 2vw;
  line-height: 3vw;
  position: relative;
  z-index: 1;
}

.sec4 .box_wrap a p {
  line-height: 27px;
  font-weight: 400;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.sec4 .box_wrap a .more_info {
  display: block;
  color: #fff;
  margin-top: auto;
  border-top: 1px solid #fff;
  font-weight: 400;
  line-height: 21px;
  padding: 15px 0 5px;
  display: flex;
  gap: 12px;
  position: relative;
  z-index: 1;
  transform-origin: left;
  transform: scaleX(0);
}

.sec4 .box_wrap a .more_info span {
  opacity: 0;
}

/*오른쪽 화살표*/
.sec4 .box_wrap a .more_info img {
  filter: invert(1);
}

/*호버하면*/
.sec4 .box_wrap a:hover .more_info img {
  animation: moveright 0.4s alternate;
}

/*박스 배경 이미지*/
.sec4 .box_wrap a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  filter: brightness(0.3);
}

/*호버하면*/
.sec4 .box_wrap a:hover > img {
  opacity: 1;
}

/*다섯번째 섹션*/
.sec5 {
  padding: 60px 40px;
}

/*상단 영역*/
.sec5 .top_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec5 h3 {
  font-size: 16px;
  line-height: 24px;
}

.sec5 .top_info a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  position: relative;
}

.sec5 .top_info a:hover > img {
  animation: moveright 0.4s alternate;
}

/*애니메이션*/
@keyframes moveright {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

/*슬라이드 영역*/
.sec5 .swiper {
  margin-top: 20px;
  overflow: visible;
}

.sec5 .swiper-slide {
  width: 423px;
  cursor: pointer;
}

.sec5 .swiper-slide .thumb {
  width: 100%;
  height: 30vw;
  overflow: hidden;
}

.sec5 .swiper-slide .thumb > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec5 .swiper-slide .info {
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
}

.sec5 .swiper-slide .info .top {
  display: flex;
  justify-content: space-between;
}

.sec5 .swiper-slide .info .top p {
  font-weight: 400;
}

.sec5 .swiper-slide .info .bottom {
  margin-top: 5px;
  color: #898989;
  letter-spacing: -0.02em;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*라이트 박스*/
.light_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 900;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  opacity: 0;
}

.light_box button {
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
}

.light_box .img_wrap {
  height: 80vh;
  overflow: hidden;
}

.light_box .img_wrap img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

.light_box .info {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

/*여섯번째 섹션*/
.sec6 {
  padding: 60px 0;
}

.sec6 h3 {
  font-size: 16px;
  line-height: 24px;
  padding: 0 40px;
  margin-bottom: 20px;
}

/*컨텐츠*/
.sec6 .content {
  position: relative;
  height: 73vh;
  padding: 40px;
  box-sizing: border-box;
  transform-origin: left;
  transform: scaleX(0);
}

/*배경 이미지*/
.sec6 .content .bg_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.sec6 .content .bg_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.3);
}

/*검정색 박스*/
.sec6 .content .black {
  width: 100%;
  height: 100%;
  background-color: #121212;
  transform-origin: left;
  transform: scaleX(1);
  position: absolute;
  top: 0;
  left: 0;
}

/*글자*/
.sec6 .content .info {
  position: relative;
  color: #fff;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.sec6 .content .info > div {
  width: 50%;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 1px solid #fff;
  transform-origin: left;
  transform: scaleX(0);
}

.sec6 .content .info > div * {
  opacity: 0;
}

.sec6 .content .info h4 {
  font-size: 13px;
  line-height: 16px;
}

.sec6 .content .info h2 {
  margin-top: 2px;
  font-size: 2vw;
  line-height: 2.6vw;
  font-weight: 400;
}

.sec6 .content .info p {
  font-size: 16px;
  line-height: 25px;
}

/*주소 및 영업 시간*/
.sec6 .bottom_info {
  padding: 0 40px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
}

.sec6 .bottom_info > div {
  display: flex;
}

.sec6 .bottom_info > div > h4 {
  width: 100px;
}

/*푸터*/
footer {
  width: 100%;
  height: 100vh;
  padding: 0 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

footer .intro {
  width: 100%;
  height: 50vh;
  line-height: 26px;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
}

footer .footer_info {
  width: 100%;
  padding: 20px 0;
  flex: 1 1;
  border-top: 1px solid #121212;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}

footer .footer_info h4 {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}

/*사이트맵*/
footer #sitemap ul {
  text-transform: uppercase;
  font-weight: 500;
}

footer #sitemap ul > li:first-child {
  text-decoration: underline;
}

/*주소*/
footer .address > div {
  position: relative;
  margin-bottom: 10px;
}

footer .address h5 {
  text-align: right;
  width: 150px;
  position: absolute;
  left: -170px;
  top: 0;
}

/*맨 밑줄*/
footer .terms {
  width: 100%;
  padding: 13px 0 20px;
  border-top: 1px solid #121212;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  gap: 20px;
}

footer .terms span {
  margin-left: auto;
}
